################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/EmptyApp/.vs
/samples/EmptyApp/EmptyApp/bin/Debug/netcoreapp2.0
/samples/EmptyApp/EmptyApp/obj
/samples/WebApiApp/WebApiApp/obj
/samples/WebApiApp/WebApiApp/bin/Debug/netcoreapp2.0
/samples/WebApiApp/.vs
/samples/MvcApp/MvcApp/bin/Debug/netcoreapp2.0
/samples/MvcApp/.vs
/samples/MvcApp/MvcApp/obj
lms/LmsApp/Common/bin/
lms/LmsApp/Common/obj/
/.vs
/lms/LmsApp/.vs
/samples/my-app/node_modules
/lms/LmsApp
